In [11]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [12]:
colName=['学号','姓名','专业']
data1=[['202003101','赵成','软件工程'],['202005114','李斌丽','机械制造'],['202009111','孙武一','工业设计']]
stu1=DataFrame(data1,columns=colName)
data2=[['202003103','孙武一','软件工程'],['202005116','袁一凡','工业设计']]
stu2=DataFrame(data2,columns=colName)
newstu=pd.concat([stu1,stu2],axis=0)
print(newstu)

          学号   姓名    专业
0  202003101   赵成  软件工程
1  202005114  李斌丽  机械制造
2  202009111  孙武一  工业设计
0  202003103  孙武一  软件工程
1  202005116  袁一凡  工业设计