In [63]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [54]:
height=Series([187,190,185,178,185],index=['13','14','7','2','9'])
print(height)

13    187
14    190
7     185
2     178
9     185
dtype: int64

In [55]:
height1=Series({'13':187,'14':190,'7':185,'2':178,'9':185})
height1

13    187
14    190
2     178
7     185
9     185
dtype: int64

In [56]:
height['13']

187

In [57]:
height[['13','2','7']]

13    187
2     178
7     185
dtype: int64

In [36]:
height[1:3]

14    190
7     185
dtype: int64

In [37]:
height[height.values>=186]

13    187
14    190
dtype: int64

In [38]:
height['13']=188
height['13']

188

In [39]:
height[1:3]=160
height

13    188
14    160
7     160
2     178
9     185
dtype: int64

In [45]:
a=Series([190,187],index=['23','5'])
newheight=height.append(a)
print(newheight)
print('\n')
print(height)

13    188
14    160
7     160
2     178
9     185
23    190
5     187
dtype: int64


13    188
14    160
7     160
2     178
9     185
dtype: int64

In [41]:
newheight=height.drop(['13','9'])
newheight

14    160
7     160
2     178
dtype: int64

In [48]:
height.index=[1,2,3,4,5]
height

1    188
2    160
3    160
4    178
5    185
dtype: int64

In [49]:
height=Series([187,190,185,178,185],index=[13,14,7,2,9])
height

13    187
14    190
7     185
2     178
9     185
dtype: int64

In [51]:
height[[14,7]]

14    190
7     185
dtype: int64

In [50]:
height.iloc[0]

187

In [64]:
data=[[19,170,68],[20,165,65],[18,175,65]]
students=DataFrame(data,index=[1,2,3],columns=['age','height','weight'])
students

   age  height  weight
1   19     170      68
2   20     165      65
3   18     175      65

In [65]:
students.loc[1,'age']

19

In [66]:
students.loc[[1,3],['height','weight']]

   height  weight
1     170      68
3     175      65

In [67]:
students.iloc[[0,2],[0,1]]

   age  height
1   19     170
3   18     175

In [68]:
students.loc[:,['height','weight']]

   height  weight
1     170      68
2     165      65
3     175      65

In [69]:
students[['height','weight']]

   height  weight
1     170      68
2     165      65
3     175      65

In [70]:
students.iloc[1:,0:2]

   age  height
2   20     165
3   18     175

In [71]:
students[1:3]

   age  height  weight
2   20     165      65
3   18     175      65

In [72]:
mask=students['height']>=168
mask

1     True
2    False
3     True
Name: height, dtype: bool

In [74]:
students.loc[mask,['height','weight']]

   height  weight
1     170      68
3     175      65

In [76]:
students['expense']=[1500,1600,1200]
students

   age  height  weight  expense
1   19     170      68     1500
2   20     165      65     1600
3   18     175      65     1200

In [77]:
students['expense']=1000
students

   age  height  weight  expense
1   19     170      68     1000
2   20     165      65     1000
3   18     175      65     1000

In [80]:
students.loc[1,:]=[21,180,70,20]
students

   age  height  weight  expense
1   21     180      70       20
2   20     165      65     1000
3   18     175      65     1000

In [81]:
students.loc[students['expense']<500,'expense']=1200
students

   age  height  weight  expense
1   21     180      70     1200
2   20     165      65     1000
3   18     175      65     1000

In [82]:
students.drop(1,axis=0)

   age  height  weight  expense
2   20     165      65     1000
3   18     175      65     1000

In [83]:
students.drop('expense',axis=1)

   age  height  weight
1   21     180      70
2   20     165      65
3   18     175      65

In [84]:
students.drop([1,2],axis=0)

   age  height  weight  expense
3   18     175      65     1000

In [87]:
students.drop(['age','weight'],axis=1,inplace=True)

ValueError: labels ['age' 'weight'] not contained in axis